<img src="https://scontent.fjdo12-1.fna.fbcdn.net/v/t39.30808-6/385067949_805512978251733_639921228418853171_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=R1INuflgYEQQ7kNvgFO14wf&_nc_ht=scontent.fjdo12-1.fna&oh=00_AYCiz0Y4Ywb_0exKVdCCrRlKbq6h4dvf4ctL6SWY4MJ1kQ&oe=666FE98C" width="50">
<p style="color:orange;"> Jump Start 4 </p>      

Quinta-Feira 13/06/2024  


- ### 3° Lista - Exercícios:

- #### Criar um programa em Python que permite ao usuário registrar o nome dos alunos e suas cidades de origem em um dicionário, e consultar essas informações pelo nome do aluno. Consulte pelo menos 5 colegas de classe.
|     Nome       |   Cidade-UF  |
|----------------|--------------|
|Natália Berti   | São Paulo-SP |
|Tatiana Beltrão | Recife-PE    | 
|⁠Júlio César     | Cunha-SP     |
|⁠Leandro Tezzon  | Jundiaí-SP   |E|⁠João Pedro      | Manaira-PB   |S//PB

In [1]:
alunos = { 
    'Natália Berti': 'São Paulo-SP', 
    'Tatiana Beltrão': 'Recife-PE',
    '⁠Júlio César': 'Cunha-SP',
    '⁠Leandro Tezzon': 'Jundiaí-SP',
    '⁠João Pedro': 'Manaira-PB'
}

In [2]:
alunos['Natália Berti']

'São Paulo-SP'

In [3]:
alunos['Tatiana Beltrão']

'Recife-PE'

In [6]:
alunos['⁠Júlio César']

'Cunha-SP'

In [9]:
alunos['⁠Leandro Tezzon']

'Jundiaí-SP'

In [10]:
alunos['⁠João Pedro']

'Manaira-PB'

In [68]:
alunos = {}

def adicionar_aluno():
    nome_aluno = input("Digite o nome do aluno: ")
    cidade_aluno = input("Digite a cidade do aluno: ")
    alunos[nome_aluno] = cidade_aluno
    print("Aluno cadastrado com sucesso!")

adicionar_aluno()

Digite o nome do aluno:  Natália Berti
Digite a cidade do aluno:  São Paulo-SP

Aluno cadastrado com sucesso!

In [69]:
def consultar_aluno(alunos):
    nome_consulta = input("Digite o nome do aluno para consultar: ")
    if nome_consulta in alunos:
        cidade_origem = alunos[nome_consulta]
        print(f"{nome_consulta} é de {cidade_origem}.")
    else:
        print("Aluno não encontrado.")

consultar_aluno(alunos)

Digite o nome do aluno para consultar:  Natália Berti

Natália Berti é de São Paulo-SP.

- ## Exemplo de input com 5 cadastros
- Caso seja necessário inserir somente 1 cadastro, aperte enter para completar o loop com 5 registros.
- Também podemos alterar a quantidade de alunos para inserir mais ou menos alunos

In [70]:
alunos = {}

def adicionar_alunos():
    quantidade_alunos = 5
    for _ in range(quantidade_alunos):
        nome_aluno = input("Digite o nome do aluno: ")
        cidade_aluno = input("Digite a cidade do aluno: ")
        alunos[nome_aluno] = cidade_aluno
        print(f"Aluno {nome_aluno} cadastrado com sucesso!")

adicionar_alunos()

Digite o nome do aluno:  Natália Berti
Digite a cidade do aluno:  São Paulo-SP

Aluno Natália Berti cadastrado com sucesso!

Digite o nome do aluno:  Tatiana Beltrão
Digite a cidade do aluno:  Recife-PE

Aluno Tatiana Beltrão cadastrado com sucesso!

Digite o nome do aluno:  Júlio César
Digite a cidade do aluno:  Cunha-SP

Aluno Júlio César cadastrado com sucesso!

Digite o nome do aluno:  Leandro Tezzon
Digite a cidade do aluno:  Jundiaí-SP

Aluno Leandro Tezzon cadastrado com sucesso!

Digite o nome do aluno:  ⁠João Pedro
Digite a cidade do aluno:  Manaira-PB

Aluno ⁠João Pedro cadastrado com sucesso!

## Exemplo de Consulta com 5 cadastros
Também podemos alterar a quantidade de alunos para inserir mais ou menos alunos ou aperte enter para completar o loop com 5 registros.

In [72]:
def consultar_alunos(alunos):
    quantidade_consultas = 5
    for _ in range(quantidade_consultas):
        nome_consulta = input("Digite o nome do aluno para consultar: ")
        if nome_consulta in alunos:
            cidade_origem = alunos[nome_consulta]
            print(f"{nome_consulta} é de {cidade_origem}.")
        else:
            print("Aluno não encontrado.")

consultar_alunos(alunos)

Digite o nome do aluno para consultar:  Natália Berti

Natália Berti é de São Paulo-SP.

Digite o nome do aluno para consultar:  Tatiana Beltrão

Tatiana Beltrão é de Recife-PE.

Digite o nome do aluno para consultar:  Júlio César

Júlio César é de Cunha-SP.

Digite o nome do aluno para consultar:  Leandro Tezzon

Leandro Tezzon é de Jundiaí-SP.

Digite o nome do aluno para consultar:  ⁠João Pedro

⁠João Pedro é de Manaira-PB.